body {

    background-color:whitesmoke;

    margin: 0;

}

.container {

    width: 900px;

    margin: auto;

    background-color: lightblue;

    padding: 20px;

}

h1 {

    text-align: center;

}

h2 {

    text-align: center;

}

.welcome {

    text-align: center;

}

fieldset {

    margin-top: 20px;

    padding: 20px;

}

legend {

    font-weight: bold;

}

table {

    width: 100%;

}

td {

    padding: 8px;

}

th {

    padding: 8px;

    background-color: lightgoldenrodyellow;

}

input,
select {

    width: 300px;

    padding: 5px;

}

button {

    padding: 10px 20px 10px 20px;

}

a {

    text-decoration: none;

}